# Logs
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env*

# Stores VSCode versions used for testing VSCode extensions (optional)
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/